@font-face {
    src: url(../font/Inter-Regular.ttf);
    font-family: 'Inter';
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Inter';
}

img {
    max-width: 100%;
}

.d-flex {
    display: flex;
}

.j-center {
    justify-content: center;
}

.j-between {
    justify-content: space-between;
}

.j-end {
    justify-content: flex-end;
}

.a-center {
    align-items: center;
}

.f-wrap {
    flex-wrap: wrap;
}

.f-column {
    flex-direction: column;
}

.font-b {
    font-weight: bold;
}

.font-5 {
    font-weight: 500;
}

.font-20 {
    font-size: 20px;
}

.font-24 {
    font-size: 24px;
}


.t-cen {
    text-align: center;
}

.header {
    position: fixed;
    z-index: 3;
    width: 100%;
}

.logo img {
    max-height: 100%;
}

.bg-light {
    background-color: #232A2F !important;
}

.nav-item {
    padding: 0px 3px;
}

.nav-link {
    color: white;
    font-size: 15px;
    font-family: sans-serif;
    letter-spacing: 0.2px;
    font-weight: 600;
}

.nav-link:focus {
    color: red;
    font-weight: bold;
}


.nav-link:hover {
    color: red;
    font-weight: bold;
}

.navbar {
    padding: 5px 0px;
}

.navbar-collapse {
    padding: 10px 0px;
}

.search-box {
    width: 300px;
}

.cart-icon {
    margin-right: 10px;
}

.cart-icon,
.user-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #4C4C4C;
    text-align: center;
    line-height: 41px;
    font-size: 16px;
    color: white;
    cursor: pointer;
}

.search-btn {
    color: #6F6F6F;
    width: 40px;
    height: 40px;
    line-height: 40px;
    right: 8px;
    cursor: pointer;
    font-size: 18px;
    text-align: center;
}

.form-control {
    padding-right: 40px;
}

.form-control:focus {
    border-color: #232A2F;
    box-shadow: none;
}

.body-content {
    background-color: #171E22;
}

.navbar-toggler-icon {
    background-image: url(../img/hamburger-icon.png);
}


.dropdown-menu {
    background-color: #232A2F;
}

.dropdown-menu li a {
    color: white !important;
}

.dropdown-item:hover {
    color: #dd163b;
    background-color: #293139;
    font-weight: bold;
}

.footer {
    background-color: #232A2F;
    padding: 30px 0px;
}

.questions,
.account,
.contact {
    font-size: 15px;
}

.questions p,
.account p,
.contact p {
    font-family: Inter;
}

.questions a,
.sign a,
.contact-method a {
    text-decoration: none;
    color: white;
}

.questions a:hover,
.sign a:hover,
.contact-method a:hover {
    color: #dd163b;
    font-weight: bold;
}

.web-info {
    width: 65%;
    color: white;
    margin-left: 15px;
    margin-top: 10px;
}

.web-logo {
    margin-right: 15px;
}

.big-logo img {
    width: 250px;
    padding-bottom: 20px;
}

.mini-logo {
    width: 100%;
}

.mini-logo img {
    width: 36px;
}

h5 {
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: bold;
}

.contact-method span {
    color: #F3D054;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.item-in-cart {
    color: #FFF;
    left: 25px;
    top: -5px;
    background-color: #ff5b2a;
    width: 18px;
    height: 18px;
    text-align: center;
    font-size: 0.7rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.active-menu {
    color: red !important;
}

.mb-2 {
    margin-bottom: 0px !important;
}

.right-menu {
    position: fixed;
    background-color: #293139;
    top: 0;
    bottom: 0;
    right: -300px;
    width: 300px;
}

.right-menu-header {
    height: 120px;
    padding: 10px;
    position: relative;
    background: url(https://vuighe.net/assets/img/navbar-user-header.jpg);
}

.bi-x-lg {
    position: absolute;
    top: 5px;
    cursor: pointer;
}

.welcome {
    font-weight: bold;
    width: 140px;
    overflow: hidden;
    position: absolute;
    top: 31%;
    font-size: 20px;
}

.user-icon-login {
    font-size: 75px;
    float: right;
    position: absolute;
    right: 10px;
    top: -11px;
    color: gray;
}

.user-icon-login img {
    height: 90px;
    width: 90px;
}

.login-tab {
    position: absolute;
    bottom: 0;
    display: flex;
    height: 30px;
    font-weight: bold;
}

.form-login {
    margin-top: 10px;
}

.login {
    margin-right: 50px;
    cursor: pointer;
}

.register {
    cursor: pointer;
}

.acc, .pass, .save, .btn-login, .btn-face, .re-pass, .username, .email, .gender, .birthday, .btn-register {
    padding: 10px;
    position: relative;
}

.acc label, .pass label, .save, .re-pass label, .username label, .email label, .day label, .month label, .year label {
    display: block;
    font-size: 16px;
    color: white;
    margin-bottom: 5px;
}

.acc input, .pass input, .re-pass input, .username input, .email input {
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    padding-left: 35px;
}

.acc i, .pass i, .btn-face i, .re-pass i, .username i, .email i {
    left: 20px;
    bottom: 15px;
}

.acc, .pass, .save, .btn-login, .btn-face, .re-pass, .username, .email, .gender, .birthday, .btn-register {
    padding: 10px;
    position: relative;
}

.btn-login {
    margin-bottom: 20px;
}


.click-login, .click-register {
    cursor: pointer;
    background-color: #dd163b;
    border-radius: 5px;
    padding: 10px 25px;
    text-decoration: none;
    color: white;
    font-size: 16px;
    letter-spacing: 1.2px;
    font-weight: 600;
    transition: .3s;
    font-family: sans-serif;
    border: 0px;
    width: 100%;
}

.form-login i {
    position: absolute;
    font-size: 20px;
    top: 50%;
}

.form-register {
    display: none;
}

.save a {
    float: right;
    color: #F3D054;
}

@media (max-width: 809px) {
    .search-box {
        width: 260px;
    }
}

@media (max-width: 380px) {
    .about-us {
        margin-right: 35px !important;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .questions, .account, .contact {
        font-size: 14px;
    }
    h5 {
        font-size: 18px;
    }
}