.container {
    max-width: 1200px;
    width: unset;
    padding: 0;
}

.footer-info {
    margin: 0px 32px;
}

.web-info {
    margin-left: 0;
}

.web-logo {
    margin-right: 32px;
}

.news-title h2{
    color: white;
    margin-bottom: 50px;
    font-weight: bold;
}

.news-body {
    background-color: #171E22;
}

.news-title {
    padding-top: 100px;
}

.news-content,
.news-title {
    margin: 0px 32px;
}

.news-item-content {
    border-radius: 5px;
    overflow: hidden;
    transition: .3s;
}

.news-item-content:hover{
    opacity: 0.7;
}

.news-box:hover {
    opacity: 0.78;
}

.news-item-content img {
    width: 100%;
    object-fit: cover;
}

.right-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.left-content .news-text {
    bottom: 0;
    left: 0;
    padding: 20px 15px;
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.15);
    right: 0;
}

.right-content .news-text,
.news-text {
    bottom: 0;
    left: 0;
    padding: 10px 15px;
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.15);
    right: 0;
}

.right-content .news-text p {
    font-size: 18px;
}

.mini .news-text p {
    font-size: 16px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.mini .image img {
    height: 200px;
}

.mini {
    margin-top: 24px;
}

.news-text p {
    margin-bottom: 0;
    font-size: 24px;
    font-weight: bold;
    color: white;
    letter-spacing: 0.3px;
    text-shadow: 1px 1px #2d2d2d;
}

.blog {
    width: 70%;
    padding-right: 25px;
}

.news-item {
    height: 175px;
    margin-bottom: 30px;
    border-radius: 5px;
    overflow: hidden;
}

.news-image {
    width: 250px;
}

.news-box {
    text-decoration: none;
    transition: .2s;
}

.news-info {
    padding: 15px 25px;
    overflow: hidden;
    background-color: #293139;
}

.news-image img {
    width: 225px;
    height: 100%;
    max-width: none;
    object-fit: cover;
}

h4 {
    color: white;
    font-weight: bold;
    margin-bottom: 15px;
    font-size: 20px;
}

.news-info p {
    color: #999999;
    letter-spacing: 0.5px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    font-family: Inter;
    margin: 0;
    font-size: 15px;
}

.most-view {
    width: 33%;
}

.most-view-item {
    border-radius: 7px;
    overflow: hidden;
    margin-bottom: 40px;
}

.most-image img {
    width: 100%;
}

.most-info p {
    padding: 15px 15px;
    color: white;
    font-size: 17px;
    font-weight: bold;
    line-height: 1.7;
    background-color: #293139;
    margin: 0;
}

.btn-more {
    text-align: center;
    padding: 10px;
    margin-top: 20px;
    padding-bottom: 100px;
}

.view {
    background-color: #293139;
    border-radius: 5px;
    padding: 15px 25px;
    text-decoration: none;
    color: white;
    font-size: 13px;
    letter-spacing: 1.2px;
    font-weight: 600;
    transition: .3s;
}

.news {
    margin-top: 24px;
}

.btn-more a:hover {
    color: #dd163b;
}

@media (min-width: 768px) and (max-width: 991px) {
    .web-logo {
        width: 25%;
    }

    .web-info {
        width: 70%;
    }

    .news-text p {
        font-size: 20px;
    }

    .right-content .news-text p {
        font-size: 15px;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    .news-info h4 {
        font-size: 15px;
        line-height: 1.4;
    }
    .news-info p {
        font-size: 14px;
    }
}



@media (min-width: 543px) and (max-width: 767px) {
    .web-logo {
        display: none !important;
    }

    .web-info {
        width: 100%;
    }

    .navbar>.container-fluid {
        display: block;
    }

    .header-icon {
        position: absolute;
        top: 10px;
        right: 20px;
    }

    .right-content {
        flex-direction: row;
        margin-top: 24px;
    }

    .right-content a {
        width: 48%;
    }

    .right-content .col-sm-6 {
        width: 100%;
    }

    .right-content .news-text p {
        font-size: 15px;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    .news-text p {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    .three,
    .four {
        margin-top: 24px;
    }

    .news-content-down,
    .news-item {
        flex-direction: column;
    }

    .blog {
        width: 100%;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .news-box {
        width: 48%;
    }

    .news-item {
        height: 385px;
    }

    .news-image {
        width: 100%;
    }

    .news-image img {
        width: 100%;
        height: 175px;
    }

    .news-info {
        height: 210px;
        padding: 15px;
    }

    .most-view {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }
    .navbar-brand {
        margin-right: 0px;
    }
}

@media (max-width: 575px) {

    .two,
    .three,
    .four {
        margin-top: 24px;
    }
}

@media (max-width: 567px) {
    .web-info {
        flex-wrap: wrap;
        justify-content: unset;
    }

    .about-us {
        margin-bottom: 25px;
        margin-right: 60px;
    }
}



@media (max-width: 542px) {
    .web-logo {
        display: none !important;
    }

    .web-info {
        width: 100%;
    }

    .questions,
    .account,
    .contact {
        font-size: 14px;
    }

    h5 {
        font-size: 18px;
    }

    .navbar>.container-fluid {
        display: block;
    }

    .header-icon {
        position: absolute;
        top: 10px;
        right: 20px;
    }

    .news-text p {
        font-size: 18px;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    .right-content .news-item-content {
        margin-top: 24px;
    }

    .two {
        margin-top: 24px;
    }

    .news-content-down,
    .news-item {
        flex-direction: column;
    }

    .blog {
        width: 100%;
        padding: 0;
    }

    .news-item {
        height: 100%;
    }

    .news-image, .most-view {
        width: 100%;
    }

    .news-image img {
        width: 100%;
        height: 175px;
    }

    .most-image img {
        width: 100%;
        height: 200px;
    }
    .navbar-brand {
        margin-right: 0px;
    }
    .news-info {
        padding: 15px;
    }
}

@media (max-width: 500px) {
    .web-info {
        margin-left: 0px;
        flex-wrap: wrap;
        justify-content: unset;
    }

    .about-us {
        margin-bottom: 25px;
        margin-right: 50px;
    }
}

@media (max-width:459px) {
    .left-content .news-text {
        padding: 15px;
    }
    
}