.container {
    max-width: 1200px;
    width: unset;
    padding: 0;
}

.pay-body {
    background-color: #171E22;
    padding-top: 70px;
}

.pay-cart {
    margin: 0px 32px;
    padding-bottom: 100px;
}

.your-cart {
    width: 65%;
    padding-top: 60px;
}

.pay-title h2 {
    color: white;
    font-weight: bold;
}

.ctn-btn {
    padding: 5px 15px;
    background: #dd163b;
    color: white;
    border-radius: 6px;
}

.ctn-btn a {
    text-decoration: none;
    color: white;
}

.ctn-btn i {
    margin-left: 5px;
}

.sub-price {
    color: white;
    margin-top: 50px;
    border-bottom: 2px solid #353535;
}

.sub-info {
    font-size: 15px;
}

.sub-total {
    font-size: 18px;
}

.sub-total span {
    font-size: 22px;
    color: #F3D054;
    font-weight: bold;
}

.cart-item {
    margin-top: 25px;
    border-radius: 7px;
    overflow: hidden;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.cart-info {
    width: 67%;
    background-color: #293139;
    color: white;
    padding: 15px 20px;
}

.cart-img {
    width: 259px;
}

.cart-game-name {
    font-size: 20px;
    font-weight: 600;
}

.game-del a {
    color: #848484;
}

.game-price span {
    font-size: 18px;
    margin-left: 10px;
}

.game-price img {
    position: absolute;
    bottom: 16px;
    right: 80px;
}

.pay-info {
    width: 350px;
    background-color: #293139;
    padding: 20px;
    margin-top: 143px;
    border-radius: 7px;
    margin-left: 20px;
}

.pay-info p {
    color: white;
    font-size: 15px;
    margin-bottom: 5px;
}

.pay-method,
.card-num,
.date-info,
.card-name,
.gmail {
    margin-bottom: 20px;
}

.pay-method select {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    background-color: #293139;
    border: 2px solid #505050;
    color: white;
}

.card-num input,
.end-date input,
.cvc input,
.card-name input,
.gmail input {
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    background-color: #293139;
    border: 2px solid #505050;
    color: white;
    padding-left: 12px;
}

.end-date,
.cvc {
    width: 48%;
}

.pay-des p {
    margin: 25px 0px;
    font-size: 15px;
    color: #797979;
    line-height: 28px;
    letter-spacing: 0.1px;
}

.note label {
    font-size: 14px;
    color: white;
    margin-left: 5px;
    margin-bottom: 0;
}

.final-total {
    border-bottom: 1px solid #555555;
}

.final-total p {
    font-size: 20px;
}

.final-total span {
    font-size: 22px;
    color: #F3D054;
    font-weight: 600;
}

.pay-btn {
    margin-top: 50px;
    letter-spacing: 0.5px;
    margin-bottom: 70px;
    float: right;
}

.pay-btn button {
    font-size: 15px;
    padding: 8px 15px;
    background: #dd163b;
    color: white;
    text-decoration: none;
    border-radius: 6px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    border: none;
}

.footer-info {
    margin: 0px 32px;
}

.web-info {
    margin-left: 0;
}

.web-logo {
    margin-right: 32px;
}

.navbar-light .navbar-nav .nav-link { 
    color: white;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #dd163b;
}

.modal-confirm {
    color: #636363;
    width: 400px;
    font-size: 14px;
}

.modal-confirm .modal-content {
    padding: 20px;
    border-radius: 5px;
    border: none;
    background-color: #293139;
}

.modal-confirm .modal-header {
    border-bottom: none;
    position: relative;
}

.modal-confirm h4 {
    text-align: center;
    font-size: 26px;
    margin: 30px 0 -15px;
    color: white;
    font-weight: bold;
}

.modal-confirm .form-control,
.modal-confirm .btn {
    min-height: 40px;
    border-radius: 3px;
}

.modal-confirm .close {
    position: absolute;
    top: -5px;
    right: -5px;
}

.modal-confirm .modal-footer {
    border: none;
    text-align: center;
    border-radius: 5px;
    font-size: 13px;
}

.modal-confirm .icon-box {
    color: #fff;
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: -70px;
    width: 95px;
    height: 95px;
    border-radius: 50%;
    z-index: 9;
    background-image: url(../img/logo-game-dep-va-1-200pxpng.png);
    background-size: 100px;
    background-repeat: no-repeat;
    background-position: center;
    padding: 15px;
    text-align: center;
    /* box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1); */
}

.modal-confirm .icon-box i {
    font-size: 58px;
    position: relative;
    top: 3px;
}

.modal-confirm.modal-dialog {
    margin-top: 15%;
}

.modal-confirm .btn {
    color: #fff;
    border-radius: 4px;
    background: #dd163b;
    text-decoration: none;
    transition: all 0.4s;
    line-height: normal;
    border: none;
    width: 100%;
}

.btn-success:not(:disabled):not(.disabled):active {
    background-color: #dd163b;
    border-color: #dd163b;
}

.btn-success.focus,
.btn-success:focus {
    box-shadow: 0 0 0 0.2rem #dd163b;
}

.btn:active:focus, 
.btn-success:not(:disabled):not(.disabled):active:focus {
    box-shadow: 0 0 0 0.2rem #dd163b;   
}

.modal-confirm .btn:hover,
.modal-confirm .btn:focus {
    outline: none;
    opacity: 0.8;
    border-color: white !important;
}

.modal-body p {
    color: white;
    color: #797979;
    font-size: 16px;
}

.pad-right {
    padding-right: 16px;
    overflow: hidden;
}

.navbar-light .navbar-nav .nav-link.show {
    color: #dd163b;
}

.empty-img img {
    height: 400px;
    object-fit: cover;
    width: 100%;
}

form .error {
    color: red;
    margin-bottom: 0;
    margin-top: 5px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

@media (max-width: 991px) {
    .pay-info {
        width: 35%;
    }
}

@media (max-width: 849px) {
    .pay-cart {
        flex-direction: column;
    }

    .your-cart {
        width: 100%;
    }

    .pay-info {
        width: 100%;
        margin-left: 0px;
        margin-top: 30px;
    }
}



@media (min-width: 768px) and (max-width: 991px) {
    .web-logo {
        width: 25%;
    }

    .web-info {
        width: 70%;
    }
}

@media (min-width: 543px) and (max-width: 767px) {
    .web-logo {
        display: none !important;
    }

    .web-info {
        width: 100%;
    }

    .navbar>.container-fluid {
        display: block;
    }

    .header-icon {
        position: absolute;
        top: 10px;
        right: 20px;
    }
    .navbar-brand {
        margin-right: 0px;
    }
}

@media (max-width: 575px) {
    .modal-confirm.modal-dialog {
        margin-top: 15% !important;
        margin: auto;
    }
    
}

@media (max-width: 567px) {
    .web-info {
        flex-wrap: wrap;
        justify-content: unset;
    }

    .about-us {
        margin-bottom: 25px;
        margin-right: 60px;
    }
    .navbar-brand {
        margin-right: 0px;
    }
}

@media (max-width: 542px) {
    .web-logo {
        display: none !important;
    }

    .web-info {
        width: 100%;
    }

    .questions,
    .account,
    .contact {
        font-size: 14px;
    }

    h5 {
        font-size: 18px;
    }

    .cart-img {
        height: 170px;
        width: unset;
    }

    .cart-img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .cart-item {
        display: block !important;
    }

    .cart-info {
        width: 100%;
    }

    .cart-game-name {
        margin-bottom: 10px;
    }

    .sub-info {
        font-size: 14px;
    }

    .sub-total,
    .final-total p {
        font-size: 18px;
    }

    .sub-total span,
    .final-total span {
        font-size: 20px;
    }

    .navbar>.container-fluid {
        display: block;
    }

    .header-icon {
        position: absolute;
        top: 10px;
        right: 20px;
    }

}

@media (max-width: 500px) {
    .web-info {
        margin-left: 0px;
        flex-wrap: wrap;
        justify-content: unset;
    }

    .about-us {
        margin-bottom: 25px;
        margin-right: 50px;
    }
}

@media (max-width: 480px) {
    .modal-confirm.modal-dialog {
        width: 360px;
    }
    .modal-confirm h4 {
        font-size: 23px;
    }
    .modal-body p {
        font-size: 15px;
    }
}